Codigo/C#/WarlockSoft/WarlockSoft/Web References/JCargaMasiva3/Tareas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://Servicios/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Tareas" targetNamespace="http://Servicios/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WarlockSoft/Tareas?xsd=1" namespace="http://Servicios/" />
    </xsd:schema>
  </types>
  <message name="S1">
    <part name="parameters" element="tns:S1" />
  </message>
  <message name="S1Response">
    <part name="parameters" element="tns:S1Response" />
  </message>
  <message name="S2">
    <part name="parameters" element="tns:S2" />
  </message>
  <message name="S2Response">
    <part name="parameters" element="tns:S2Response" />
  </message>
  <message name="S3">
    <part name="parameters" element="tns:S3" />
  </message>
  <message name="S3Response">
    <part name="parameters" element="tns:S3Response" />
  </message>
  <message name="S4">
    <part name="parameters" element="tns:S4" />
  </message>
  <message name="S4Response">
    <part name="parameters" element="tns:S4Response" />
  </message>
  <message name="S5">
    <part name="parameters" element="tns:S5" />
  </message>
  <message name="S5Response">
    <part name="parameters" element="tns:S5Response" />
  </message>
  <message name="S6">
    <part name="parameters" element="tns:S6" />
  </message>
  <message name="S6Response">
    <part name="parameters" element="tns:S6Response" />
  </message>
  <message name="S7">
    <part name="parameters" element="tns:S7" />
  </message>
  <message name="S7Response">
    <part name="parameters" element="tns:S7Response" />
  </message>
  <message name="leerTareas">
    <part name="parameters" element="tns:leerTareas" />
  </message>
  <message name="leerTareasResponse">
    <part name="parameters" element="tns:leerTareasResponse" />
  </message>
  <message name="asignarValor">
    <part name="parameters" element="tns:asignarValor" />
  </message>
  <message name="asignarValorResponse">
    <part name="parameters" element="tns:asignarValorResponse" />
  </message>
  <message name="S8">
    <part name="parameters" element="tns:S8" />
  </message>
  <message name="S8Response">
    <part name="parameters" element="tns:S8Response" />
  </message>
  <message name="esUnEntero">
    <part name="parameters" element="tns:esUnEntero" />
  </message>
  <message name="esUnEnteroResponse">
    <part name="parameters" element="tns:esUnEnteroResponse" />
  </message>
  <portType name="Tareas">
    <operation name="S1">
      <input wsam:Action="http://Servicios/Tareas/S1Request" message="tns:S1" />
      <output wsam:Action="http://Servicios/Tareas/S1Response" message="tns:S1Response" />
    </operation>
    <operation name="S2">
      <input wsam:Action="http://Servicios/Tareas/S2Request" message="tns:S2" />
      <output wsam:Action="http://Servicios/Tareas/S2Response" message="tns:S2Response" />
    </operation>
    <operation name="S3">
      <input wsam:Action="http://Servicios/Tareas/S3Request" message="tns:S3" />
      <output wsam:Action="http://Servicios/Tareas/S3Response" message="tns:S3Response" />
    </operation>
    <operation name="S4">
      <input wsam:Action="http://Servicios/Tareas/S4Request" message="tns:S4" />
      <output wsam:Action="http://Servicios/Tareas/S4Response" message="tns:S4Response" />
    </operation>
    <operation name="S5">
      <input wsam:Action="http://Servicios/Tareas/S5Request" message="tns:S5" />
      <output wsam:Action="http://Servicios/Tareas/S5Response" message="tns:S5Response" />
    </operation>
    <operation name="S6">
      <input wsam:Action="http://Servicios/Tareas/S6Request" message="tns:S6" />
      <output wsam:Action="http://Servicios/Tareas/S6Response" message="tns:S6Response" />
    </operation>
    <operation name="S7">
      <input wsam:Action="http://Servicios/Tareas/S7Request" message="tns:S7" />
      <output wsam:Action="http://Servicios/Tareas/S7Response" message="tns:S7Response" />
    </operation>
    <operation name="leerTareas">
      <input wsam:Action="http://Servicios/Tareas/leerTareasRequest" message="tns:leerTareas" />
      <output wsam:Action="http://Servicios/Tareas/leerTareasResponse" message="tns:leerTareasResponse" />
    </operation>
    <operation name="asignarValor">
      <input wsam:Action="http://Servicios/Tareas/asignarValorRequest" message="tns:asignarValor" />
      <output wsam:Action="http://Servicios/Tareas/asignarValorResponse" message="tns:asignarValorResponse" />
    </operation>
    <operation name="S8">
      <input wsam:Action="http://Servicios/Tareas/S8Request" message="tns:S8" />
      <output wsam:Action="http://Servicios/Tareas/S8Response" message="tns:S8Response" />
    </operation>
    <operation name="esUnEntero">
      <input wsam:Action="http://Servicios/Tareas/esUnEnteroRequest" message="tns:esUnEntero" />
      <output wsam:Action="http://Servicios/Tareas/esUnEnteroResponse" message="tns:esUnEnteroResponse" />
    </operation>
  </portType>
  <binding name="TareasPortBinding" type="tns:Tareas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="S1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="S2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="S3">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="S4">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="S5">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="S6">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="S7">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="leerTareas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="asignarValor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="S8">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="esUnEntero">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Tareas">
    <port name="TareasPort" binding="tns:TareasPortBinding">
      <soap:address location="http://localhost:8080/WarlockSoft/Tareas" />
    </port>
  </service>
</definitions>