Codigo/C#/WarlockSoft/WarlockSoft/Web References/JDenuncia/Denuncia.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Servicios/" targetNamespace="http://Servicios/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="obtenerComDenunciadas" type="tns:obtenerComDenunciadas" />
  <xs:element name="obtenerComDenunciadasResponse" type="tns:obtenerComDenunciadasResponse" />
  <xs:element name="obtenerProDenunciadas" type="tns:obtenerProDenunciadas" />
  <xs:element name="obtenerProDenunciadasResponse" type="tns:obtenerProDenunciadasResponse" />
  <xs:element name="obtenerPubDenunciadas" type="tns:obtenerPubDenunciadas" />
  <xs:element name="obtenerPubDenunciadasResponse" type="tns:obtenerPubDenunciadasResponse" />
  <xs:element name="obtenerTarDenunciadas" type="tns:obtenerTarDenunciadas" />
  <xs:element name="obtenerTarDenunciadasResponse" type="tns:obtenerTarDenunciadasResponse" />
  <xs:complexType name="obtenerProDenunciadas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerProDenunciadasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerTarDenunciadas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerTarDenunciadasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerComDenunciadas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerComDenunciadasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPubDenunciadas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerPubDenunciadasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>